//====================================================================================================
.footer {
    background-color: #84A178;
    &__container {
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: last baseline;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__label {
        margin-bottom: 60px;
        @media (max-width: $mobile) {
            margin-bottom: 32px;
            width: 352px;
        }
        @media (max-width: $mobileSmall) {
            width: 246px;
            margin-bottom: 60px;
        }
    }

    &__uppertitle {
        color: #FCFCFC;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-bottom: 27px;
        @media (max-width: $mobile) {
            font-size: 26px;
            margin-bottom: 18px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 18px;
            width: 246px;
        }
    }

    &__title {
        color: #FCFCFC;
        font-size: 58px;
        font-weight: 700;
        letter-spacing: 3.48px;
        text-transform: uppercase;
        @media (max-width: $mobile) {
            font-size: 48px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 34px;
        }
    }
}
.contacts-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: $mobile) {
        gap: 34px;
    }
    @media (max-width: $mobileSmall) {
        margin-left: auto;
        gap: 20px;
        margin-bottom: 40px;
    }
    &__text {
        color: $hover-dark-cl;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.8; 
        letter-spacing: 0.32px;
        text-wrap: nowrap;
        @media (max-width: $mobile) {
            font-size: 14px;
            max-width: 316px;
            text-align: right;
        }
        @media (max-width: $mobileSmall) {
            font-size: 12px;
        }
    }

    &__link {
        color: #FCFCFC;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: 0.32px;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
        @media (max-width: $mobile) {
            font-size: 14px;
        }
        @media (max-width: $mobileSmall) {
            font-size: 12px;
        }
    }
}
.socials-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $accent-cl;
        outline: none;
        &:hover,
        &:focus {
            .socials-list__icon {
                fill: #FCFCFC;
            }
        }
    }

    &__icon {
        fill: #84A178;
        transition: fill $time-anim $type-anim;
    }
}
.credits {
    width: 100%;
    text-align: center;
    padding: 12px 0 12px 0;
    border-top: 1px solid #E1E1E1;
    @media (max-width: $mobileSmall) {
        padding: 20px 0 20px 0;
    }
    &__text {
        color: #7A7A7A;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.8;
        letter-spacing: 0.24px;

        @media (max-width: $mobile) {
            font-size: 14px;
        }
        @media (max-width: $mobileSmall) {
            width: 164px;
            margin: 0 auto;
        }
    }
    
}

//====================================================================================================
