
//====================================================================================================
// Hero section
//====================================================================================================
.hero {
    background-color: #84A178;
    background-image: url(../img/hero/dots-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1200px;
    padding-top: 40px;
    @include adaptiveValue("padding-bottom", 103, 0);
    @media (max-width: 769px) {
		background-image: url(../img/hero/dots-bg-tb.png);
        background-size: 100%;
        padding-top: 15px;
        padding-bottom: 24px;
	}
    @media (max-width: 735px) {
        background-image: url(../img/hero/dots-bg-mb.png);
        background-position: right bottom;
        background-size: 330px;
        }
    
    &__container {
        position: relative;
    }
}
.block-wrapper {
    display: flex;
    justify-content: space-between;
    
    @media (max-width: $mobile) {
		margin-bottom: 46px;
	}
}
.hero-block {
    width: 367px;
    @media (max-width: $mobileSmall) {
        padding-bottom: 150px;
     } 
     @media (max-width: 420px) {
        padding-bottom: 70px;
     } 
    &__title {
        color: #FCFCFC;
        font-family: Seymour One;
        font-size: 38px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 1.52px;
        text-transform: uppercase;
        @include adaptiveValue("margin-bottom", 28, 15);
        @media (max-width: $mobile) {
            width: 257px;
            font-size: 26px;
            line-height: 1.2;
            span {
                font-size: 38px;
                @media (max-width: 420px) {
                    @include adaptiveValue("font-size", 38, 28);
                 }
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 34px;

        @media (max-width: 380px) {
            flex-direction: column;
            align-items: start;
            gap: 20px;
         }
    }

    &__link {
        color: $accent-cl;
        text-decoration: underline;
        font-weight: 600;
        transition: color $time-anim $type-anim;
        &:hover {
            color: $hover-btn-cl;
        }
        &:focus {
            color: #fff;
        }

        @media (max-width: $mobile) {
            font-size: 16px;
         }
    }
}

.count-block {
    display: flex;
    flex-direction: column;
    align-items: end;
    &__number {
        color: #131313;
        font-size: 46px;
        font-weight: 900;
        letter-spacing: 1.84px;
        margin-bottom: 14px;

        @media (max-width: $mobile) {
            font-size: 28px;
            margin-bottom: 8px;
         }
    }

    &__name {
        @include adaptiveValue("margin-bottom", 16, 8);
        color: #FCFCFC;
        font-weight: 400;
        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: $mobile) {
            font-size: 6px;
         }
    }
}
.hero-info-block {
    width: 200px;
    @include adaptiveValue("margin-top", 122, 60);
    @include adaptiveValue("margin-left", 242, 100);
    padding-left: 10px;
    @media (max-width: $mobileSmall) {
        display: none;
     }
    @media (max-width: $mobile) {
        width: 175px;
        margin-left: 216px;
     }
     @media (max-width: 735px) {
        margin-left: 0;
        }
    &__text {
        margin-bottom: 24px;
        color: #fff;
        font-weight: 400;
        line-height: 1.4;
        @media (max-width: $mobile) {
            font-size: 12px;
            margin-bottom: 29px;
         }
    }

    &__link {
        &:hover {
            .hero-info-block__icon {
                fill: $accent-cl;
            }
        }
    }

    &__icon {
        fill: #fff;
        transition: fill $time-anim $type-anim;
    }

    &__img {
        position: absolute;
    }

    &__img--left {
        bottom: -38px;
        left: 16px;
        @media (max-width: 735px) {
            display: none;
            }
            @media (max-width: 769px) {
                left: 10px;
            }
            @media (max-width: 912.98px) {
                bottom: -50px;
            }
        @media (max-width: $mobile) {
            bottom: -10px;
            @include adaptiveValue("width", 225, 152);
            }
        @media (max-width: $tablet) {
        bottom: -10px;
        @include adaptiveValue("width", 225, 152);
        }
    }

    &__img--right {
        bottom: -102px;
        right: 95px;
        @media (max-width: 912.98px) {
            bottom: -70px;
            right: 50px;
        }
        @media (max-width: 769px) {
            bottom: -24px;
            right: 59px;
        }
        @media (max-width: $mobile) {
            bottom: -24px;
            right: 31px;
        }
        @media (max-width: $mobileSmall) {
            bottom: -71px;
         } 
         @media (max-width: 420px) {
            display: none;
         } 
         
        @media (max-width: $tablet) {
            @include adaptiveValue("width", 456, 268);
            }
            
            @media (max-width: 735px) {
                right: 20px;
                width: 218px;
                }   
    }
}
//====================================================================================================
// Products section
//====================================================================================================

.products {
    background-image: url(../img/products/products-bg.png);
    background-position: center;
    background-size: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-width: $mobile) {
        background-image: url(../img/products/products-bg-tb.png);
        background-size: 768px;
     }
     @media (max-width: $mobileSmall) {
        background-image: url(../img/products/products-bg-mb.png);
        background-size: 480px;
     }

    &__label {
        text-align: center;
        color: $hover-dark-cl;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-bottom: 19px;
        @media (max-width: $mobile) {
            font-size: 22px;
         }
         @media (max-width: $mobileSmall) {
            font-size: 18px;
         }
    }

    &__title {
        text-align: center;
        color: $hover-dark-cl;
        font-family: Seymour One;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 2.16px;
        text-transform: uppercase;
        margin-bottom: 311px;
        @media (max-width: $mobile) {
            font-size: 34px;
            margin-bottom: 200px;
         }
         @media (max-width: $mobileSmall) {
            font-size: 30px;
            margin-bottom: 150px;
         }
    }

}

.cards-wrapper {
    display: flex;
    gap: 30px;
    @media (max-width: $mobile) {
        gap: 16px;
     }
     @media (max-width: $mobileSmall) {
        flex-direction: column;
        align-items: center;
        gap: 168px;
     }
}

.card {
    position: relative;
    height: 546px;
    width: 370px;
    border-radius: 24px;
    text-align: center;
    background-color: #AEC6A5;
    @media (max-width: $mobile) {
        height: 428px;
     }

     @media (max-width: 370px) {
        width: 300px;
     }
    &--yellow {
        background-color: #EFD478;
    }
    &--brown {
        background-color: #D6936D;
    }
    &__img-wrapper {
        position: absolute;
        top: -167px;
        left: 34px;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.70) 0%, rgba(156, 190, 143, 0.70) 100%), #D9D9D9;
        box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
        background-position: -100px;
        border-radius: 50%;
        background-color: transparent;

        img {
            padding-bottom: 16px;
            @media (max-width: $mobile) {
                width: 200px;
             }
        }

        @media (max-width: $mobile) {
            top: -124px;
            left: 16px;
         }

         @media (max-width: $mobileSmall) {
            top: -110px;
            left: 80px;
         }

         @media (max-width: 370px) {
            top: -110px;
            left: 50px;
         }

        &--yellow {
            background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%), #D9D9D9;
            box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
        }

        &--brown {
            background: linear-gradient(0deg, rgba(213, 117, 63, 0.70) 0%, rgba(213, 117, 63, 0.70) 100%), #D9D9D9;
            box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
        }

        
    }

    &__title {
        padding-top: 167px;
        color: $hover-dark-cl;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-bottom: 73px;
        @media (max-width: $mobile) {
            font-size: 22px;
            padding-top: 108px;
            margin-bottom: 40px;
         }
         @media (max-width: $mobileSmall) {
            font-size: 20px;
            padding-top: 126px;
            margin-bottom: 44px;
         }
    }

    &__text {
        width: 246px;
        margin: 0 auto;
        color: $hover-dark-cl;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: 0.64px;
        @media (max-width: $mobile) {
            font-size: 14px;
            width: 172px;
         }

         @media (max-width: $mobileSmall) {
            width: 200px;
         }
    }

    &__icon {
        position: absolute;
        left: 45%;
        bottom: 60px;
        @media (max-width: $mobile) {
            left: 40%;
            bottom: 16px;
         }

         @media (max-width: $mobileSmall) {
            left: 45%;
         }
    }
}
//====================================================================================================
// Made section
//====================================================================================================

.made {
    background-color: #84A178;
    padding-top: 67px;
    padding-bottom: 168px;
    &__container {
        position: relative;
    }

    &__label {
        text-align: center;
        color: #FCFCFC;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &__title {
        text-align: center;
        color: #FCFCFC;
        font-family: Seymour One;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 2.16px;
        text-transform: uppercase;
        margin-bottom: 82px;
    }
}
.made-block {
    display: flex;
    gap: 109px;
    margin-bottom: 60px;
    &__wrapper-img {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%), #D9D9D9;
        box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
        border-radius: 50%;
        padding-top: 39px;
    }

    &__img {
    }

    &__info {
        width: 463px;
        margin-top: 90px;
    }

    &__text {
        color: #FCFCFC;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7; 
        letter-spacing: 0.64px;
        margin-bottom: 8px;
        &:last-of-type {
            margin-bottom: 54px; 
        }

        &--big {
            font-size: 16px;
        }
    }

    &__btn {
    }

    &__icon-btn {
    }
}
.button {
}
.made-block-count {
    display: flex;
    justify-content: space-between;
    &__item {
        width: 368px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon-bg {
        background-color: $accent-cl;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    &__icon {
    }

    &__number {
        color: #FCFCFC;
        font-size: 58px;
        font-weight: 700;
        letter-spacing: 2.32px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__text {
        color: #FCFCFC;
        text-align: center;
        font-size: 16px;;
        font-weight: 400;
        line-height: 1.7; 
        letter-spacing: 0.32px;
    }
}
.section-img {
    border-radius: 24px;
    position: absolute;
    bottom: -500px;
    left: 93px;
}

